* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 5vh;
  padding: 20px;
  border-bottom: 1px solid rgb(228, 228, 228);
  /* Maintains aspect ratio after resizing page */
  object-fit: contain;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 5%);
}

.app__headerNav {
  display: flex;
  align-items: center;
  height: 40px;
}

.app__headerImage {
  height: 40px;
}

.app__headerNav__Avatar {
  height: 100%;
  margin-left: 20px;
}

.app__headerNav__Link {
  height: 100%;
  margin: 0 20px;
}

.app__headerNav__Link img {
  height: 40px;
}
